name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Run tests
      run: ./gradlew check shadowJar
      env:
        SimulatedPlatform: "com.pi4j.gpio.extension.mcp.MCP23017GpioProvider"
    - name: Store tests results as artifact
      uses: actions/upload-artifact@v2-preview
      if: failure()
      with:
        name: tests-results
        path: build/reports/tests/
    - name: Store JAR file as artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: application
        path: build/libs/*.jar
